@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans&display=swap');

body {
    background: url(https://res.cloudinary.com/mrv5122/image/upload/v1571157838/background00_qxe0ca.png);
}

#headerContainer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #daa520;
    background: black;
    width: 50%;
    height: 15%;
    margin-top: 5px;
}

#navigationContainer {
    background: black;
    padding: 3px 5px 3px 5px;
    margin: 0 30% 0 30%;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width: 40%;
}

#playerContainer {
    background: black;
    text-align: center;
    margin-top: 5px;
    height: 500px;
    padding: 10px;
}

#image-display{
    padding: 20px;
    text-align: center;
}

#player1-image, #player2-image {
    height: 100px;
}

.col-sm-4 {
    text-align: center;
}

canvas {
    padding: 2px;
    border: 3px solid goldenrod;
    background: whitesmoke;
    position: relative;
}

.col-sm-12 {
    text-align: center;
}

#instruction, #winner {
    width: 600px;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 195px;   
}

h4 {
    color: goldenrod;
}

#image-display {
    height: 20%;
    width:20%;
    color: white;
}
